body { background: #7260ba; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 52px; display: flex; }
.block-token-0 { color: #67d117; font-size: 16px; margin-bottom: 5px; }
.block-shipping-1 { color: #7387d0; font-size: 21px; margin-bottom: 5px; }
.block-cluster-2 { color: #29e072; font-size: 13px; margin-bottom: 5px; }
.block-shipping-3 { color: #be471a; font-size: 21px; margin-bottom: 5px; }
.block-sms-4 { color: #2ab39a; font-size: 16px; margin-bottom: 5px; }
.block-product-5 { color: #880f77; font-size: 14px; margin-bottom: 5px; }